*{
    overflow-x: hidden;
}

*, *::before, *::after{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    max-width: 1400px;
}

$colorPrincipal: #990000;
$colorSecundario: #B34C00;
$colorAlternativo: #A8840C;
$colorResaltar: #030CA8;
$colorEsporadico: #8602B3;
$paddingGral: 0 15%;
$marginGral: 1rem;


body{
    font-family: 'Roboto', sans-serif;
    color: #d9d9d9;
    margin-top: 20em;
    background: linear-gradient($colorSecundario, $colorAlternativo,);
    header{
        z-index: 1;
        top: 0;
        width: 100%;
        padding: $paddingGral;
        height: auto;
        position: fixed;
        background: $colorAlternativo;
        justify-content: space-between;
        font-weight: 500;
        .logo{
            width: 100%;
            text-align: center;
            img{
                height: 25vh;
                width: auto;
            }
        }
        .menu{
            width: 100%;
            & ul{
                text-align: center;
                font-size: 1.2em;
                padding-top: 1.8rem;
                line-height: 1.8rem;
                margin-bottom: $marginGral;
                a{
                    li{
                        overflow-y: hidden;
                    }
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

    .container{
        margin-top: $marginGral;
        margin-bottom: $marginGral;
        width: 100%;
        h1{
            text-decoration: underline;
            text-align: center;
        }
        &-info{
            p{
                text-align: center;
                margin-top: $marginGral;
                margin-bottom: 1.2rem;
                font-weight: 400;
                font-size: 1.2em;
            }
            .hero img{
                width: 100vw;
                height: auto;
                object-fit: cover;
            }
        }
    }
    h2{
        text-align: center;
    }
    ol li{
        h3{
            margin-top: $marginGral;
            margin-bottom: $marginGral;
            color: $colorEsporadico;
        }
        img{
            width: 100%;
            height: auto;
        }
        p{
            text-align: center;
            font-size: 1.2em;
            font-weight: 400;
            margin-top: $marginGral;
        }
    }

    article{
        margin-top: $marginGral;
        margin-bottom: $marginGral;
        padding: $paddingGral;
        background: linear-gradient(90deg,$colorPrincipal,$colorSecundario 50%);
        h2{
            text-align: center;
            p{
                text-align: center;
                font-size: 1.5em;
                font-weight: 500;
            }
        }
    }

    #experiencia{
        display: flex;
        flex-wrap: wrap;
        .proyecto{
            margin-top: $marginGral;
            margin-bottom: $marginGral;
            padding: $paddingGral;
            border-radius: 10px;
            overflow: hidden;
            background: $colorPrincipal;
            width: 100%;

            img{
                width: 100%;
                height: 200px;
                object-fit: cover;
            }

            &-detalles{
                margin: 20px;
                margin-top: -40px;
                background-color: $colorSecundario;
                position: relative;
                padding: 20px;
                text-align: center;

                .ir{
                    position: relative;
                    top: 0.5em;
                    border: 1px solid $colorResaltar;
                    padding: 5px 20px;
                    text-decoration: none;
                    color: $colorResaltar;
                    border-radius: 5px;
                }

                .ir:hover{
                    background: $colorEsporadico;
                    color: white;
                }
                
                .crautomotores{
                    color: white;
                }

                p{
                    text-align: center;
                }
            }

        }
    }

    .preFooter{
        height: 5px;
        background: white;
    }

    #contact{
        width: 100%;
        z-index: 1;
        .contacto{
            overflow-y: hidden;
            &-imagen{
                width: 100%;
                height: 300px;
                text-align: center;
                img{
                    height: 90%;
                }
            }

            &-email{

                h4{
                    text-align: center;
                    font-weight: 900;
                }
                p{
                    text-align: center;
                    em{
                        font-weight: 700;
                    }
                }
            }
        }

        .social{
            display: flex;
            justify-content: space-around;
            margin-top: $marginGral;
        }
    }
}

@media screen and (min-width: 768px){

    body{
        
        margin-top: 10em;

        header{
            display: flex;
            justify-content: space-between;
            padding: 0;

            .logo{
                width: 40%;
            }

            .menu{
                width: 60%;
                & ul{
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                }
            }
            
        }

        .container-info{
            display: flex;
            margin-top: $marginGral;
            p{
                width: 60%;
                font-size: 1.4em;
            }
            .hero{
                width: 40%;
                text-align: center;
                img{
                    width: 80%;
                    border-radius: 130px;
                    box-shadow: 26px 0px 20px -5px;
                    color: $colorAlternativo;
                }
            }

        }
        #estudios{
            .container{
                &-organizado{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    &_imagen{
                        width: 40%;
                    }
                    &_p1{
                        width: 60%;
                    }
                }
            }
        }
    
        hr{
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
    
    
        #experiencia{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            h2{
                width: 100%;
            }
            
            .proyecto{
                margin: $marginGral;
                padding: 0;
                width: 40%;
            }
        }

        .preFooter{
            margin-bottom: 0;
        }

        #contact{
            display: flex;
            justify-content: space-between;
            width: 100vw;
            .contacto{
                width: 65%;
                display: flex;
                justify-content: space-between;
                &-imagen{
                    height: 100px;
                    width: auto;
                }
                &-email{
                    margin-top: $marginGral;
                }
            }

            .social{
                width: 35%;
                padding-left: 1rem;
            }
        }
    }
}

@media screen and (min-width: 1024px){
    body{
        margin-top: 17em;

        header{
            justify-content: space-evenly;
            align-items: center;
            .logo{
                width: 35%;
            }
            .menu{
                ul{
                    font-size: 1.6em;
                }
            }
        }

        .container-info{
            text-align: center;
            p{
                font-size: 1.8em;
            }
        }

        #estudios{
            .container-organizado{
                justify-content: space-around;
                margin-top: 2rem;
                margin-bottom: 2rem;
                &_imagen{
                    width: 50%;
                    margin-bottom: $marginGral;
                }
                p{
                    font-size: 1.65em;
                }
                &_p1{
                    width: 45%;
                    margin-bottom: $marginGral;
                }
            }

        }

        #sobreMi{
            
            h2{
                margin-bottom: $marginGral;
            }

            p{
                font-size: 1.43em;
                line-height: 1.5em;
                font-weight: 500;
            }
        }

        #experiencia{
            .proyecto{
                width: 44%;
                &-detalles{
                    h3{
                        margin-bottom: $marginGral;
                    }
                    p{
                        font-size: 1.4em;
                        margin-bottom: 1.5em;
                    }
                }
            }

        }

        #contact{
            .contacto{
                &-imagen{
                    height: 200px;
                }
                &-email{
                    font-size: 1.3em;
                    height: 100%;
                    margin-top: 3.5rem;
                }
            }

            .social{
                align-items: center;
                justify-content: space-evenly;
            }
        }

    }
}

@media screen and (min-width: 1400px) {
    html{
        margin: 0;
        max-width: 100vw;
        width: 100%;        
        flex: 1;        
        body{
            max-width: 1400px;
            font-size: 1.4em;
            margin: 20rem auto 0;

        }
    }
}